<div class="imagenPrincipal"></div>
<div class="descripcion">
    <div class="text">
        <h2>English For All</h2>
        <hr>
        <p><b>En English For All</b> ofrecemos cursos de inglés para todas las edades y niveles. 
        Disponemos de los mejores <b>profesores Nativos de Inglés titulados</b>. 
        English For All, también, es un centro oficial de preparación para los exámenes de la <b>Universidad de Cambridge</b>. 
        Nuestro método está basado en un inglés comunicativo personalizado especialmente para reforzar el vocabulario
        y los diálogos según la necesidad de alumno.</p>
        <p>Con el fin de mejorar todo el proceso de aprendizaje, hemos establecido <b>un máximo
        de alumnos por cada grupo</b>, en el caso de los niños y adolescentes es de 10, y en
        el de los adultos de 8. De esta forma distribuimos la enseñanza al máximo a su vez
        aprovechando las ventajas comunicativas que ofrece el aprendizaje en grupo. 
        Los alumnos deberán realizar una <b>prueba de nivel de inglés GRATUITA</b>, para que encajar
        en un grupo acorde a su nivel. Garantizamos la formación de los grupos por edad, nivel 
        y capacidad de aprendizaje; siempre en beneficio de nuestros estudiantes. 
        Se evalúa tu nivel de inglés en todos los campos (Reading, Writing, Listening, Speaking).</p>
    </div>
    <div class="estudiantes">
        <img src="../../assets/img/estudiantes.jpg">
    </div>
</div>
<div class="footer">
    <h3>Nuestras Redes Sociales</h3>
    <hr>
    <a href="https://twitter.com"><img src="../../assets/icon/twitter.png"></a>
    <a href="https://www.facebook.com/"><img src="../../assets/icon/facebook.png"></a>
    <a href="https://www.instagram.com/"><img src="../../assets/icon/instagram.png"></a>
    <br>
    <a href="https://web.whatsapp.com/"><img src="../../assets/icon/whatsapp.png"></a>
    <p>+34 686343475</p>
</div>
