<header><button mat-raised-button class="basic" [routerLink]="['pantalla-login']">Iniciar sesion</button></header>
<div class="menu">
    <a [routerLink]="['pantalla-inicial']"><img src="../../../assets/icon/logo.png"></a>
    <h2>{{title}}</h2>
    <div class="menu-list">
        <ul>
            <li><h3><a [routerLink]="['pantalla-inicial']">Inicio</a></h3></li>
            <li><h3><a [routerLink]="['pagina-cursos']">Cursos</a></h3></li>
            <li><h3><a [routerLink]="['pagina-precios']">Precios</a></h3></li>
            <li><h3><a [routerLink]="['pagina-contacto']">Contacto</a></h3></li>
        </ul>
    </div>
</div>

