<header>Iniciar sesion</header>
<div class="menu">
    <a [routerLink]="['pantalla-inicial']"><img src="../../../assets/icon/logo.png"></a>
    <div class="menu-list">
        <ul>
            <li><h4><a [routerLink]="['pantalla-inicial']">Inicio</a></h4></li>
            <li><h4><a [routerLink]="['pantalla-inicial']">Cursos</a></h4></li>
            <li><h4><a [routerLink]="['pagina-precios']">Precios</a></h4></li>
            <li><h4><a [routerLink]="['pagina-contacto']">Contacto</a></h4></li>
        </ul>
    </div>
</div>

