body {
    margin: 10px;
    padding: 10px;
}

.descripcion {
    text-align: justify;
    margin: 2rem;
    margin-bottom: 5rem;
}

.formulario {
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 4rem;
    width: 30%;
    padding: 1em;
    border: 1px solid #000000;
    border-radius: 1em;
    display: block;

    input {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 1em;

        #description {
            padding-bottom: 5rem;
        }
    }

    textarea{
        margin-top: 2rem;
        width: 100%;
    }

    #botones {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 2rem;
    }

    #borrar {
        display: block;
        padding: 0.3rem;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        border: 1px solid #cccccc;
        background-color: #0c0d0d;
        border-radius: 1em;
        width: 25%;
    }

    #borrar:hover {
        cursor: pointer;
        padding: 0.35rem;
        color: #0c0d0d;
        background-color: rgb(255, 255, 255);
    }

    #historial {
        display: block;
        padding: 0.3rem;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        border: 1px solid #cccccc;
        background-color: #0c0d0d;
        border-radius: 1em;
        width: 25%;
    }

    #historial:hover{
        cursor: pointer;
        padding: 0.35rem;
        color: #0c0d0d;
        background-color: rgb(255, 255, 255);
    }
  
    #botonEnviar {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 22%;
        width: 58%;
        display: block;
        padding: 0.3rem;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        border: 1px solid #cccccc;
        background-color: #0c0d0d;
        border-radius: 1em;
    }

    #botonEnviar:hover {
        cursor: pointer;
        padding: 0.35rem;
        color: #0c0d0d;
        background-color: rgb(255, 255, 255);
    }
}

// .mapouter{
//     position:relative;
//     text-align:right;
//     height:500px;
//     width:600px;
// }

.mapouter {
    margin-right: 2rem;
}

// .gmap_canvas {overflow:hidden;
//     background:none!important;
//     height:500px;
//     width:600px;
// }

.contacto {
    margin-right: 5rem;
}

.datos  {
    display: flex;
    margin-bottom: 10%;
}

@media (max-width: 1220px) {
    .datos {
        flex-direction: column;
    }

    .formulario {
        width: 40%;
        margin-left: 27%;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .gmap_canvas {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }
}

.basic {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}
