
<div class="imagen_fondo">

    <div id="descripcion">
        PRECIOS - CURSOS DE INGLES 
        <p>
            Consulta los precios de nuestras clases de ingles presenciales y online con profesores nativos y titulados.
        </p>
        <p>
            Las clases son de 60 minutos. No tenemos tasas de inscripcion y el materia didactico esta incluido en el precio.
        </p>
    </div>

    <div *ngIf="isMostrarCurso; then muestraCurso; else noCurso"></div>
    <div *ngFor = "let user of users">
        <p> El usuario que tienen permisos es : {{users}}</p>
    </div>

    <ng-template #muestraCurso>
        <p>
            Tienes permiso para todos los cursos 
        </p>

    <button (click)="togglePrecios()">{{btnTextPrecios}}</button>

    <div id="container" *ngIf="isMostrarPrecios">

        <div id="curso1" *ngFor = "let info of informacion" >
            <h4>{{informacion}}</h4>

            <img src="../../../assets/img/libro1.jpg">
        
            <button mat-raised-button class="basic" (click)="toggleMostrar()" id="boton">Acceder</button>
            <div id="mostrar1" *ngIf="isMostrarTenerCurso">{{textTenerCurso}} </div>

            <img src="../../../assets/img/estrellas.png" > 

        </div>

        <div id="curso2" *ngFor = "let info of informacion2">
            <h4>{{informacion2}}</h4>

            <img src="../../../assets/img/libro2.jpg">

            <button mat-raised-button class="basic" (click)="toggleMostrar1()" id="boton1">Acceder</button>
            <div id="mostrar2" *ngIf="isMostrarTenerCurso1">{{textTenerCurso}} </div>

            <img src="../../../assets/img/estrellas.png">
        
        </div>

        <div id="curso3" *ngFor = "let info of informacion3">
            <h4>{{informacion3}}</h4>
            
            <img src="../../../assets/img/libro3.jpg">

            <button mat-raised-button class="basic" (click)="toggleMostrar2()" id="boton2">Acceder</button>
            <div id="mostrar3" *ngIf="isMostrarTenerCurso2">{{textTenerCurso}} </div>
            
            <img src="../../../assets/img/estrellas.png">

        </div>

        <div id="curso4" *ngFor = "let info of informacion4">
            <h4>{{informacion4}}</h4>

            <img src="../../../assets/img/libro4.jpg">

            <button mat-raised-button class="basic" (click)="toggleMostrar3()" id="boton3">Acceder</button>
            <div id="mostrar4" *ngIf="isMostrarTenerCurso3">{{textTenerCurso}} </div>

            <img src="../../../assets/img/estrellas.png">
        
        </div>

        <div id="curso5" *ngFor = "let info of informacion5">
            <h4>{{informacion5}}</h4>
  
            <img src="../../../assets/img/libro5.jpg">

            <button mat-raised-button class="basic" (click)="toggleMostrar4()" id="boton4">Acceder</button>
            <div id="mostrar5" *ngIf="isMostrarTenerCurso4">{{textTenerCurso}} </div>
            
             <img src="../../../assets/img/estrellas.png">
             
        </div>

    </div>

    </ng-template>

    <ng-template #noCurso>
        <p>No tienes permiso para ningun curso</p>
    </ng-template>
    
    <app-footer></app-footer>

</div>

