
<div id="descripcion">
    PRECIOS - CURSOS DE INGLES 
    <p>
        Consulta los precios de nuestras clases de ingles presenciales y online con profesores nativos y titulados.
        
    </p>
    <p>
        Las clases son de 60 minutos. No tenemos tasas de inscripcion y el materia didactico esta incluido en el precio.
    </p>
</div>

<div id="container">

    <div id="curso1">
        <h3>A1/A2</h3>
       <p> 
           15,90€/h
           Total del curso al año 
           350€
       </p>
       <button>Acceder</button>
    </div>

    <div id="curso2">
        <h3>B1 </h3>
       <p> 
         <button>Acceder</button>
       </p>
    </div>

    <div id="curso3">
        <p> 
         B2 
         <button>Acceder</button>
        </p>
    </div>

    <div id="curso4">
       <p> 
           C1 
           <button>Acceder</button>
       </p>
    </div>

    <div id="curso5">
        <p> 
            C2 
            <button>Acceder</button>
        </p>
    </div>

</div>