
<div id="descripcion">
    PRECIOS - CURSOS DE INGLES 
    <p>
        Consulta los precios de nuestras clases de ingles presenciales y online con profesores nativos y titulados.
        
    </p>
    <p>
        Las clases son de 60 minutos. No tenemos tasas de inscripcion y el materia didactico esta incluido en el precio.
    </p>
</div>

<div *ngIf="mostrarCurso; then muestraCurso; else noCurso"></div>
<div *ngFor = "let user of users">
    <p> El usuario que tienen permisos son : {{users}}</p>
</div>

<ng-template #muestraCurso>
    <p>
        Tienes permiso para todos los cursos 
    </p>
<div id="container">

    <div id="curso1">
    <p>
        A1/A2
        15,90€/h
        Total del curso al año 350€
       <button>Acceder</button>
    </p>
    </div>

    <div id="curso2">
         
       <p> 
            B1 
            17,90€/h
            Total del curso al año 450€
         <button>Acceder</button>
       </p>
    </div>

    <div id="curso3">
        <p> 
         B2 
         18,20€/h
         Total del curso al año 480€
         <button>Acceder</button>
        </p>
    </div>

    <div id="curso4">
       <p> 
           C1 
           19,50€/h
           Total del curso al año 500€
           <button>Acceder</button>
       </p>
    </div>

    <div id="curso5">
        <p> 
            C2 
            20€/h
            Total del curso al año 550€
            <button>Acceder</button>
        </p>
    </div>

</div>
</ng-template>

<ng-template #noCurso>
    <p>No tienes permiso para ningun curso</p>
</ng-template>

<app-footer></app-footer>

