button{
    margin-top: 50px;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 30%;
    width: 40%;
    display: block;
    padding: 0.3rem;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    border: 1px solid #cccccc;
    background-color: #0c0d0d;
    border-radius: 1em;
}

button:hover {
    cursor: pointer;
    padding: 0.35rem;
    color: #0c0d0d;
    background-color: rgb(255, 255, 255);
}

#container{
    display: grid;
    grid-template-columns: 50% 50% ;
 }