
<div id="container">
<Button (click)="toggleCursoPresencial()" id="presencial">{{btnTextPresencial}}</Button>
<button (click)="toggleCursoOnine()" id="online">{{btnTextOnline}}</button>


<div id="container1" *ngIf="IsMostrarCursosPresencial">

    <div id="cursoPresencial"> 

        <div id="presencial1">
            <button id="boton1">{{descripcion}}</button>
        </div>

        <div id="presencial2">
            <button id="boton2">{{descripcion1}}</button>
        </div>

        <div id="presencial3">
            <button id="boton3">{{descripcion2}}</button>
        </div>

        <div id="presencial4">
            <button id="boton4">{{descripcion3}}</button>
        </div>

        <div id="presencial5">
            <button id="boton5">{{descripcion4}}</button>
        </div>

        <div id="presencial6">
            <button id="boton6">{{descripcion5}}</button>
        </div>

    </div>

</div>


<div id="container2" *ngIf="IsMostrarCursosOnline">

    <div id="cursosOnline">

        <div id="presencial1">
            <button id="boton7">{{descripcion}}</button>
        </div>

        <div id="presencial2">
            <button id="boton8">{{descripcion1}}</button>
        </div>

        <div id="presencial3">
            <button id="boton9">{{descripcion2}}</button>
        </div>

        <div id="presencial4">
            <button id="boton10">{{descripcion3}}</button>
        </div>

        <div id="presencial5">
            <button id="boton11">{{descripcion4}}</button>
        </div>

        <div id="presencial6">
            <button id="boton12">{{descripcion5}}</button>
        </div>

    </div>   

</div>

</div>